/* basic reset */
body,
html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient( #6672c2, #40bc51 ) center center no-repeat fixed;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#tic-tac-toe {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.title {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 12px #fff;
    box-shadow: 0 0 10px 4px #333;
}

.shadowbox {
    background: rgba(0, 0, 0, 0.3);
}


/* ================================== game ================================= */

#game {
    flex: 1;
    display: flex;
    align-self: center;
    flex-flow: column nowrap;
    justify-content: center;
    width: 720px;
}

#game .board {
    line-height: 1.5em;
    text-align: center;
    font-size: 10em;
    display: flex;
    height: 720px;
    flex-flow: row wrap;
}

#game .square {
    height: 33.34%;
    border: 1px solid #fff;
    box-sizing: border-box;
    flex: 1 0 30%;
}

#game .square#sq0 {
    border-top: none;
    border-left: none;
}

#game .square#sq1 {
    border-top: none;
}

#game .square#sq2 {
    border-top: none;
    border-right: none;
}

#game .square#sq3 {
    border-left: none;
}

#game .square#sq5 {
    border-right: none;
}

#game .square#sq6 {
    border-bottom: none;
    border-left: none;
}

#game .square#sq7 {
    border-bottom: none;
}

#game .square#sq8 {
    border-bottom: none;
    border-right: none;
}


/* ================================ logger ================================= */
#logger {
    color: rgba(255,255,255,.7);
    position: fixed;
    bottom: 70px;
}


/* ================================ modals ================================= */
.modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-sizing: border-box;
    position: fixed;
    background: rgba(0,0,0,.75);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-size: 6em;
    font-weight: bold;
    z-index: 999;
}

.modal button {
    margin: 0 0.5em;
    min-width: 2em;
    display: inline;
    font-size: .6em;
    border: 1px solid $fff;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}


/* ============================== responsive =============================== */

@media all and (max-width: 720px) {
        
    .title {
        font-size: 3em;
    }
    
    #game {
        width: 480px;
    }
    
    #game .board {
        height: 480px;
            line-height: 1em;
    }
    
    .modal {
        font-size: 3em;
    }
}

@media all and (max-width: 360px) {
    
    .title {
        font-size: 2em;
    }
    
    #game {
        width: 320px;
    }
    
    #game .board {
        line-height: 1.3em;
        font-size: 5em;
        height: 320px;
    }
    
    .modal {
        font-size: 2em;
    }
}

/* ================================= footer ================================ */
.belcurv-footer {
    padding: 1em;
    background: #404040;
    color: #999;
    text-align: center;
    font-size: 13px;
}

.belcurv-footer .footer-credit {
    vertical-align: middle;
}

.belcurv-footer .github-icon {
    display: inline-block;
    fill: rgb(255, 255, 255);
    vertical-align: middle;
}

.belcurv-footer a {
    color: white;
    text-decoration: none;
}

.belcurv-footer a:hover {
    text-decoration: underline;
}